#form{
    padding: 25px;
}

#formAnioAsignatura{
    display: flex;
    justify-content: space-around;
}

#tabla{
    padding: 25px;
}

tbody tr:hover{
    cursor: pointer;
    background-color: green !important;
}