#form{
    padding: 25px;
}

#formAnioAsignatura{
    display: flex;
    justify-content: space-around;
}

#tabla{
    padding: 25px;
}

tbody tr:hover{
    cursor: pointer;
    background-color: #5a8651 !important;
}
h3{
    text-align: center;
    display: block;
    color: green
}